/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
*{
  max-width: 100%;

}
.container{
  max-width: 100%;
  margin: 0 10% 0 10%;

	
}
header nav {

display: flex;
justify-content: space-between;
}
.links{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5% 0 5%;
}
.logo{
  margin:0 5% 0 5%;
}
header nav a{
	/*TL BR*/
  text-decoration: none;
  color: gray;
  text-align: center;
	
}



.text{
display:flex;
justify-content: space-around;
padding:40px;



}

.text1 {
 
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
}
.midcode{
  max-width: 100%;
}
.coding{
  width: 100%;
}



button{
	
	white-space: nowrap;
	padding: 5px 40px 5px 40px;
	background: none;
	outline: none;
	border:1px solid black;
	
}
.button{
margin-left: 29%;
margin-bottom: 15%;
}

div h1{	
	
	font-size:80px;
	height:50%;
	text-align:center;
}
.middle {
	width: 100%;	
		border-top: 2px solid black;
		display:flex;
		justify-content: space-between;
		padding-bottom: 30px;
	}


.middle p {
	font-family: 'Oswald', sans-serif;

}
h4{
	padding-top: 20px;
}


.topblock{
	width:40%;
	
	

}

img .coding { 
	padding:10px;
	margin:0;
	
 
}
.bottom{
		border-bottom:2px solid black;
		display:flex;
}
.bottom p {
	font-family: 'Baskervville', serif;
	
}
.middleblock{
padding:20px;

}
address{
	padding-top: 10px;
	
}

footer{
	text-align:center;

}
/* services start here!*/
/*Responsive code*/

/*900PX HERE*/

@media (max-width: 900px) {
  nav {
    flex-direction: column-reverse;
    display: flex;
  }

  nav .links {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
  }

  nav .img {
    justify-content: center;
    margin: 0 0 40px;
  }
 .text1 {
    width: 100%;

  }

.stubborn {
	  display: none;
  }
 
.nogologo{
 margin: 0 auto;
 padding-top: 1%;

}
.button{
margin: 5% auto;
}

}


  /* 500PX HERE*/
  @media (max-width: 500px) {
	body {
    margin: 40px 20px;
  }
  .container{
    width: 90%;
  }

  .text1{
    width: 100%;

  }
  .stubborn {
	  display: none;
	}
	nav .links {
	  flex-direction: column;
  }

	nav .links * {
	  font-size: 20px;
	  padding: 20px 0;
	  width: 100%;
	  border-bottom: 1px solid gray;
	}
  
	nav .img {
	  margin: 0;
	  padding: 20px 0;
	  border-bottom: 1px solid gray;
	}
  h1{
    display: flex;
    font-size: 1.2rem;
    text-align: center;
    
  }
  
  
	section {
	 flex-direction: column;
  }
  .topblock{
   width: 90%;
   padding: 1%;
  }
  p {
  
    font-size: 1rem;

  }
	.middle {
   flex-direction: column;
  
  }
  .middleblock{
  
    padding: 1%;
  }
  
	.bottom {
    flex-direction: column;
	  width: 100%;

	}
  }